<h1>Time Tweet</h1>

<p><%= @time_tweet.text %></p>
<p><%= @time_tweet.popularity %></p>
<p><%= @time_tweet.tweeted_at.strftime("%I:%M%P, %B, %d, %Y") %></p>
<p><%= @time_tweet.timezone %></p>
<p><%= @time_tweet.coordinates %></p>
<p><%# @time_tweet.timezone_map %></p>
