<header class="show-header">
  <%= link_to root_path do %>
    <p class="navbar-header navbar-brand">Twitter Time Machine</p>
  <% end %>
</header>

<div class="warpzone">
  <h2>Welcome to the <%= @selected_time %>!</h2>

<article class="tweets">
  <div class="tweet">
    <%= raw(@embeded_popular_tweet.html) %>
  </div>
  <div class="tweet">
    <%= raw(@embeded_most_recent_tweet.html) %>
  </div>
  <div class="tweet">
    <%= raw(@embeded_random_tweet.html) %>
  </div>
</article>

<div class="right display-time">
<div class="time clock">
  <h3>Time:</h3>
  <span class="format-time"><%= @display_time.strftime("%I:%M%P") %></span>
  <span class="format-time"><%= @display_time.strftime("%B, %d, %Y") %></span>
</div>
<div class="time sun" cun>
  <h3>Sunrise:</h3>
  <span class="format-time"><%= @rsunrise_time.strftime("%I:%M%P") %></span>
  <span class="format-time"><%= @rsunrise_time.strftime("%B, %d, %Y") %></span>
</div>
<div class="time moon">
  <h3>Sunset:</h3>
  <span class="format-time"><%= @rsunset_time.strftime("%I:%M%P") %></span>
  <span class="format-time"><%= @rsunset_time.strftime("%B, %d, %Y") %></span>
</div>
</div>

<div class="right timezone-map">
  <%= image_tag "#{@adjusted_timezone}.png" %>
</div>

</div>
