<script>
  window.twttr = (function (d, s, id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src= "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
  }
  (document, "script", "twitter-wjs"));
</script>

<h1>Time Tweet</h1>

<%= raw(@embeded_tweet.html) %>

<p><%= @popular_tweet.text %></p>
<p><%= @popular_tweet.popularity %></p>
<p><%= @popular_tweet.tweeted_at.strftime("%I:%M%P, %B, %d, %Y") %></p>
<p><%= @popular_tweet.timezone %></p>
<p><%= @popular_tweet.coordinates %></p>

<p><%= @most_recent_tweet.text %></p>
<p><%= @most_recent_tweet.popularity %></p>
<p><%= @most_recent_tweet.tweeted_at.strftime("%I:%M%P, %B, %d, %Y") %></p>
<p><%= @most_recent_tweet.timezone %></p>
<p><%= @most_recent_tweet.coordinates %></p>

<p><%= @random_tweet.text %></p>
<p><%= @random_tweet.popularity %></p>
<p><%= @random_tweet.tweeted_at.strftime("%I:%M%P, %B, %d, %Y") %></p>
<p><%= @random_tweet.timezone %></p>
<p><%= @random_tweet.coordinates %></p>
